include __init__.py
include plugin.yaml
include README.md
include COMPATIBILITY.md
include CHANGELOG.md
include VERIFICATION.md
recursive-include prospector/static *.html *.js *.css
recursive-include dashboard *.json *.py *.js *.css
prune tests
